
        h1,h2{background-color:#3e78c9;
        text-align: center;
        font-size: 50px;
        font-family: 'Rubik Glitch Pop', system-ui;
        font-family: 'Single Day', cursive;
        box-shadow: 0 0 10px rgba(54, 54, 54, 0.781);
        }
        body{font-family: 'Poor Story', system-ui;
        font-family: 'Rubik Glitch Pop', system-ui;
        font-family: 'Single Day', cursive;
        font-size: 25px;
        background-color:#0a417a;    
        }
        body{
        margin-top: 50px;
        margin-bottom: 50px;
        border-color: #0a417a;
        border-width: 210px;
        border-style: groove;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(34, 1, 219, 0.781);
        } 
        img {
        margin-top: -125px;
        width: 200px;
        height: 200px;
        border-radius: 110px;
        object-fit: cover;
        border: 10px #0645d6 solid;
        }
        body {
        width: 100vw;
        max-width: 650px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0 0 10px #2a07d5aa;
        padding: 25px;
        margin-top: 150px;
        margin-bottom: 50px;
        }
        body {
        margin: 25%;
        padding: 20px;
        }
        body{
                background-image: url(https://mega.ibxk.com.br/2021/03/28/28155513042012.jpg);
        }
        
      
